body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.6) !important;
  backdrop-filter: blur(5px);
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 50;
}

.ReactModal__Content {
  background-color: initial !important;
  border: initial !important;
  inset: 0 !important;
  margin: auto;
  height: max-content;
  width: max-content;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:autofill {
  background: transparent !important; /* or any other */
}
