@import "../styles/variables";

.header {
  height: 85px;
  position: relative;

  &-nav {
    background-color: rgb(40, 40, 45, 0.8);
    backdrop-filter: blur(8px);
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;

    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;

      &-hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 1.8em;
        height: 2.1em;

        @include media-tablet {
          width: 1.5rem;
          height: 1.8rem;
        }
        cursor: pointer;

        span {
          width: 100%;
          background-color: gray;
          display: block;
          height: 3px;
          transition: 0.2s;

          &:nth-child(2) {
            width: 50%;
            align-self: flex-start;
          }
        }

        &.active {
          span:nth-child(1) {
            width: 130%;
            transform: rotate(45deg) translate(0.5rem, 0.5rem);
          }
          span:nth-child(2) {
            opacity: 0;
          }
          span:nth-child(3) {
            width: 130%;
            transform: rotate(-45deg) translate(0.5rem, -0.5rem);
          }
        }

        margin-right: 2rem;
      }

      &-img {
        width: calc(2rem + 1vw);
        aspect-ratio: 1;
      }
    }

    &-search {
      width: 35%;
      position: relative;

      &-input {
        width: 100%;
        padding: 9px 1.4rem;
        padding-left: 3rem;
        border-radius: 12px;
        font-size: 14px;
        border: none;
        outline: none;
        background-color: rgb(245, 245, 245);
        box-shadow: 2px 1px 3px rgb(189, 189, 189);

        &:focus {
          border: 1px solid var(--color-primary);
          outline: none;
        }
      }

      &-icon {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        font-size: 1rem;
        text-shadow: 1px 1px 1px gray;
        opacity: 0.7;
        cursor: pointer;

        &:hover,
        &:active {
          opacity: 1;
        }
      }
    }

    &-other {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      gap: 2rem;
      @include media-tablet {
        gap: 1.5rem;
      }

      &-bell,
      &-message {
        background-color: #f5f5f5;
        width: 2.8rem;
        height: 2.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        box-shadow: -1px 2px 2px rgba(189, 189, 189, 0.3);
        transition: 0.1s;

        @include media-tablet {
          width: 2.5rem;
          height: 2.5rem;
        }

        &:hover,
        &:active {
          transform: translate(-1px, 1px);
          box-shadow: initial;
        }

        .notif {
          position: absolute;
          right: -5px;
          top: -5px;
          border-radius: 50%;
          background-color: var(--color-secondary);
          color: white;
          padding: 4px 7px;
          font-size: 12px;
          animation: notif 4s infinite ease-in-out;
        }

        @keyframes notif {
          from {
            opacity: 1;
          }
          50% {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      }

      &-user {
        width: 3rem;
        height: 3rem;
        box-shadow: -1px 2px 2px rgba(189, 189, 189, 0.1);
        border: 1px solid rgb(94, 94, 94);
        border-radius: 50%;
        transition: 0.1s;

        @include media-tablet {
          width: 2.6rem;
          height: 2.6rem;
        }

        &:hover,
        &:active {
          transform: translate(-1px, 2px);
          box-shadow: initial;
        }

        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
        }
      }

      .auth {
        display: flex;
        gap: 8px;
        align-items: center;

        .login-entry,
        .register-entry {
          span {
            text-decoration: none;
            display: block;
            color: var(--color-tertiary);
            text-shadow: -1px 1px 1px var(--color-logo);
            cursor: pointer;
          }
        }

        .amp {
          font-size: 1.5rem;
          color: var(--color-primary);
        }
      }
    }
  }

  .header-auth-popup {
    &.active {
      transform: scaleY(1);
    }

    position: absolute;
    right: 0;
    top: 80px;
    background-color: rgba(40, 40, 45, 0.8);
    // padding-block: 0.5rem;
    z-index: 5;
    width: 180px;
    backdrop-filter: blur(6px);
    color: var(--color-primary);
    font-size: 1.05rem;
    transform: scaleY(0);
    transition: all 0.2s ease-in-out;
    transform-origin: top;

    .list {
      list-style-type: none;
      display: flex;
      flex-direction: column;

      .item {
        // background-color: red;

        a,
        div {
          cursor: pointer;
          display: flex;
          height: 100%;
          width: 100%;

          padding-block: 0.8rem;
          padding-left: 0.8rem;
          gap: 1.3rem;
          align-items: center;
          color: var(--color-primary);
          text-decoration: none;
        }

        &:hover,
        &:active {
          box-shadow: inset 0 0 20px var(--color-logo);
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .header {
    height: 146px;
    &-nav {
      display: grid;
      grid-template-columns: 2;
      grid-template-rows: 2;

      &-logo {
        grid-row: 1/2;
        grid-column: 1/2;
      }

      &-other {
        grid-row: 1/2;
        grid-column: 2/3;
      }

      &-search {
        grid-row: 2/3;
        grid-column: 1/3;
        width: 60%;
        margin-left: 20%;
        margin-block: 1.5em 0.7em;
        display: flex;
        justify-content: center;
        align-items: center;

        &-input {
          width: 100%;
        }

        &-icon {
          left: 5%;
        }
      }
    }

    .header-auth-popup {
      top: 145px;
    }
  }
}

@media screen and (max-width: 550px) {
  .header-nav-search {
    width: 80%;
    margin-left: 10%;
  }
}
