@import "./../../../layout/styles/variables";

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);

  $bg: rgb(40, 40, 40);

  &-container {
    border: 4px var(--color-tertiary);
    border-style: groove;
    overflow: hidden;
    width: calc(17vw + 20rem);
    outline: 14px solid $bg;
    background-color: $bg;

    @include media-medium {
      width: calc(17vw + 17rem);
    }

    &-inner {
      height: 100%;
      width: 100%;
      padding: 2rem 3rem 3rem;

      @include media-medium {
        padding-inline: 2rem;
      }

      .title {
        margin-bottom: 2.4rem;
      }

      .step-1,
      .step-2,
      .step-3,
      .step-4 {
        opacity: 0;
        display: none;
        transition: 0.3s;

        &.active {
          opacity: 1;
          display: block;
        }
      }

      .register-steps {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        .list {
          list-style-type: none;
          display: flex;
          gap: calc(5px + 1vw);
          .item {
            width: calc(3rem + 1vw);
            aspect-ratio: 1;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            // box-shadow: inset 0 0 10px var(--color-tertiary);
            border: 1px solid var(--color-tertiary);
            cursor: pointer;

            &.active {
              background: radial-gradient(var(--color-tertiary), black);
            }
          }
        }
      }
    }
  }
}
